* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 215%;
    background-image: url(cardboard_@2X.png);
    display:flex;
}
.container .header {
    width: 75%;
    height: 10%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 99;
}
.container .header h1{
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 25px;
    font-family: 'Airbnb Cereal App', sans-serif;
}
.container div .search {
    position: absolute;
    right: 25px;
    top: 12px;
}
.container div .menu{
    position : absolute;
    margin: -40px 30px;
}
.container .sidebar1 {
    background-color: white;
    position: absolute;
    width: 6%;
    height: 85%;
    margin: 63px 10px;
    border-radius: 5px;
    border-bottom:#F9545B solid;
    box-shadow: 10px 10px rgba(144, 144, 144, 0.212);
    position: fixed;
}
.container .sidebar1 img {
    position: relative;
    margin: 40px 10px 30px 10px;
}
.container .sidebar1 p {
    position: absolute;
    margin: -20px 9px;
    font-family: 'Airbnb Cereal App', sans-serif;
}
.container .headercart {
    width: 25%;
    height: 10%;
    margin: 0 75%;
    background-color: white;
    box-shadow: 0px 10px 10px #F9545B;
    position: fixed;
}
.container .headercart h1{
    font-family: 'Airbnb Cereal App', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
.container .headercart aside p{
    position: absolute;
    font-family: 'Airbnb Cereal App', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: -40px 195px;
    background-color: rgb(0, 162, 255);
    width: 30px;
    height: 30px;
    border-radius: 60%;
}
.container .headercart .cart {
    position: absolute;
    background-color: white;
    width:  25%;
    height: 100%;
    margin: 15px 0 0 0;
    box-shadow: -10px 10px rgba(144, 144, 144, 0.212);
    position: fixed;
}
.container .cart .storage img {
    margin:  60px 60px ;
    position: absolute;
}
.container .cart .storage h1 {
    position: absolute;
    padding-left: 20px;
    margin: 210px 40px;
    font-family: 'Airbnb Cereal App', sans-serif;
}
.container .cart .storage p {
    position: absolute;
    text-align: center;
    padding-left: 20px;
    margin: 260px 40px;
    font-size: 18px;
    font-family: 'Airbnb Cereal App', sans-serif;
    opacity: 0.5;
}
.container .listfoods {
    position: absolute;
    width: 66%;
    height: 190%;
    margin: 110px 105px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container .listfoods img {
    width: 250px;
    height: 200px;
    margin: 0px 0px 80px 10px;
    line-height: 100px;
    border: solid;
    border-radius: 10%;
    color: black;
}
.container .listfoods p {
    position: absolute;
}
.container .listfoods p, h4 {
    position: absolute;
    font-family: 'Airbnb Cereal App', sans-serif;
    font-size: 22px;
}
.list1 p {
    margin: -75px 15px;
}
.list1 h4{
    margin: -45px 15px;
}
.list2 p {
    margin: -75px 15px;
}
.list2 h4{
    margin: -45px 15px;
}
.list3 p {
    margin: -75px 15px;
}
.list3 h4{
    margin: -45px 15px;
}
.list4 p {
    margin: -75px 15px;
}
.list4 h4{
    margin: -45px 15px;
}
.list5 p {
    margin: -75px 15px;
}
.list5 h4{
    margin: -45px 15px;
}
.list6 p {
    margin: -75px 15px;
}
.list6 h4{
    margin: -45px 15px;
}
.list7 p {
    margin: -75px 10px; 
}
.list7 h4{
    margin: -45px 10px;
}
.list8 p {
    margin: -75px 15px;
}
.list8 h4{
    margin: -45px 15px;
}
.list9 p {
    margin: -75px 15px;
}
.list9 h4{
    margin: -45px 15px;
}
.list10 p {
    margin: -75px 15px;
}
.list10 h4{
    margin: -45px 15px;
}
.list11 p {
    margin: -75px 15px;
}
.list11 h4{
    margin: -45px 15px;
}
.list12 p {
    margin: -75px 15px;
}
.list12 h4{
    margin: -45px 15px;
}
